.contactContainer {
  width: 100%;
  height: calc(80% - 120px - 300px);
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  padding-top: 80px;
}

.imgRolling {
  display: flex;
  width: 100%;
  margin-bottom: 100px;
  animation: rollImages 60s linear infinite;
  gap: 5px;
}

@keyframes rollImages {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
