.carouselContainer {
  height: 90%;
  width: 90%;
  display: flex;
}

.slideContainer {
  height: 100%;
  width: 100%;
  display: flex;
}

.slideItemContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
