.vertical-text {
    transform-origin: left bottom;
    writing-mode: vertical-rl;
    white-space: nowrap; 
   
  }

.nav-right{
  position: fixed;
  top: 15vh;
  right: 20px;
  font-size: 20px;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}